{% extends "back/layout-login.html.twig" %}

{% block content %}
    <section>
        <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        </div>
        </div>
    </section>
{% endblock content %}