{% extends 'back/layout.html.twig' %}

{% block content %}
    <h1>Accueil Espace Client</h1>
    <div class="shape"></div>
    <p>L'espace client vous permet de gérer l'historique de vos commandes sur notre site Internet auquelle vous avez souscrit.</p>
    <p>Nous travaillons régulièrement à l'amélioration de cet espace, si certain aspect ne semble pas intuitif n'hésitez pas à nous contacter.</p>
           
{% endblock %}
