
@font-face {
  font-family: 'MajestiBanner-Medium';
  src: url('MajestiBanner-Medium.eot?#iefix') format('embedded-opentype'),  url('MajestiBanner-Medium.otf')  format('opentype'),
	     url('MajestiBanner-Medium.woff') format('woff'), url('MajestiBanner-Medium.ttf')  format('truetype'), url('MajestiBanner-Medium.svg#MajestiBanner-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
