###Variable d'environnement
SetEnv MAGIC_QUOTES 0
SetEnv REGISTER_GLOBALS 0

###Interdire le listing  contenu d'un dossier
Options -Indexes

###To make sure that rewritten dir or file (/|.html) will not load dir.php in case it exist
#Options -MultiViews

###Reecriture URL
RewriteEngine on
Options +FollowSymlinks

Redirect 301 /?fbclid=IwAR0goDwN7ErlFsnzPtjMygYZYkl77iA1pT4popeu--9LVqMDKrAgz1eN2Kg http://www.negafaparis.fr

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
#RewriteRule ^([_a-z0-9]*)$ index.php [L]
#RewriteRule ^(.*)$ index.php [L]
#RewriteRule ^(adminXXX)($|/) - [L]
RewriteRule !\.(js|ico|txt|gif|jpg|JPG|png|css|less|otf|eot|svg|ttf|woff|mp4|xml)$ index.php


#Ou /index.php
ErrorDocument 404 /Template_v4/index.php 
ErrorDocument 403 /Template_v4//index.php

# Videos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/mp4 .mp4
AddType video/webm .webm
AddType application/x-shockwave-flash swf

AddCharset UTF-8 .html

# Apache 2.0
SetOutputFilter DEFLATE
#AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 day"

# My favicon
ExpiresByType image/x-icon "access plus 1 month”

# Images
ExpiresByType image/gif "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/jpg "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"

# CSS
ExpiresByType text/css "access 1 week”

# Javascript
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType application/x-javascript "access plus 1 week"

</IfModule>
