<div class="opinion-carousel owl-carousel owl-theme text-center">
    <div class="item">
        <div class="card-opinion">
            <i class="fas fa-user fa-3x"></i><br><br>
            <p>
                <strong>Efficace et professionnelle!</strong><br>
                Notre terrain a été vendu en moins d'une semaine grâce à Guinée Immobilier qui a été très efficace et professionnelle, l'équipe de Guinée Immobilier connait parfaitement bien son métier, et est très disponible.
            </p>
            <strong>Alpha B.</strong>
        </div>
    </div>
    <div class="item">
        <div class="card-opinion">
            <i class="fas fa-user fa-3x"></i><br><br>
            <p>
                <strong>Je recommande!</strong><br>
                Nous avons tout de suite eu un bon contact avec l'équipe, qui a su nous accompagner dans notre premier achat de terrain en Guinée de façon très professionnelle.
            </p>
            <strong>Thiarno A.</strong>
        </div>
    </div>

    <div class="item">
        <div class="card-opinion">
            <i class="fas fa-user fa-3x"></i><br><br>
            <p>
                <strong>Satisfait!</strong><br>
                Nous avons fait deux opérations immobilières pour vendre notre terrain et acheter une villa. Après une estimation de notre terrain, l'équipe de Guinée Immobilier a trouvé les acheteurs assez rapidement. Elle a su également nous trouver la villa qui nous convenait en respectant notre budget et dans les délais.
            </p>
            <strong>Diallo T.</strong>
        </div>
    </div>

    <div class="item">
        <div class="card-opinion">
            <i class="fas fa-user fa-3x"></i><br><br>
            <p>
                <strong>Professionnelle et sérieux</strong><br>
                Merci à l'équipe de  Guinée Immobilier pour son implication et son professionnalisme lors de notre premier projet immobilier ! Nous recommandons.
            </p>
            <strong>Fatou D.</strong>
        </div>
    </div>
</div>