{# <div class="btn-social pulse animated infinite float-right">
    <a target="_blank" href="https://www.facebook.com/pg/vanillepremium/posts/" class="btn btn-circle btn-default">
        <i class="fab fa-facebook-f fa-2x"></i>
    </a>
</div> #}