{% extends 'front/layout.html.twig' %}

{% block title %}Nos produits{% endblock %}
{% block description %}Domosystem {% endblock %}

{% block content %}
    {% block banner %}
        <section class="banner pages">
            <div class="container">
                <div class="middle">
                    <h1 class="text-uppercase">Nos produits</h1>
                </div>
            </div>
        </section>
    {% endblock %}
    <div style="background-color:#f0f3f4!important">
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin: 0 auto!important;">
                    {% for categoriesByGammes in categories %}
                        {# <li class="nav-item">
                            <a class="nav-link">&nbsp;|&nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"> {{categoriesByGammes.name}}</a>
                        </li> #}
                         <span class="badge bg-light text-dark m-3 pl-4 pr-4 text-uppercase h5">{{categoriesByGammes.name}}</span>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <section class="section-padding">
            <div class="container">
                {% include "front/blocks/product_card.html.twig" %}
                <div class="pagination">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}