{% extends 'front/layout.html.twig' %}

{% block title %}Vous n'êtes pas autorisé à accéder à cette ressource (403){% endblock %}

{% block description %}{% endblock %}

{% block content %}
    {% block banner %}
        <section class="banner pages">
                <div class="bgblack"></div>
                <div class="middle">
                    <h1 class="text-center">Oops! Vous n'êtes pas autorisé à accéder à cette ressource</h1>
                    <div class="shape"></div>
                </div>
            </div>
        </section>
    {% endblock %}
    <section class="section-padding">
        <div class="container text-center">
            <p>Message : ({{ exception.message }}).</p>
            <p>Désolé pour tout inconvénient causé.</p>
        </div>
    </section>
{% endblock %}